.button {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    text-align: center;
}


body {
    background-color: white;
    color: black;
    transition: .4s;
}




