{% extends "base.html" %}

{% block content %}
<style>
    * {
        box-sizing: border-box;
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }
</style>
<title>calendar</title>

<center><iframe src="https://calendar.google.com/calendar/embed?height=750&amp;wkst=1&amp;bgcolor=%23F6BF26&amp;ctz=Europe%2FLondon&amp;src=dXBicjczNnFsMDVyY2ZsdjFvNGUxcnNnaDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23D81B60&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showNav=0&amp;showTitle=1&amp;title=Events" style="border-width:0" width="1400" height="750" frameborder="0" scrolling="no"></iframe>

    
{% endblock %}