{% extends "base.html" %}

{% block content %}
<title>Create Customer Account</title>
<main>
    <br>
    <br>
    <br>

    <h2 style="padding-left: 100px;padding-right: 100px;">Create Account</h2>

    <form action="/CreateAccount" style="padding-left: 100px;padding-right: 100px;" method="post" name="Create Account">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text">
            <br>
        </div>

        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
            <br>
        </div>

        <div class="form-group">
            <input class="form-control" name="email" placeholder="Email" type="text">
            <br>
        </div>

        <div class="form-group">
            <input class="form-control" name="phone" placeholder="Phone Number" type="text">
            <br />
        </div>

        <div class="form-group">
            <input class="form-control" name="age" placeholder="Age" type="text">
            <br>
        </div>

        <button class="btn btn-secondary" type="submit">Create Account</button>
    </form>
    {%if error%}
    <p class="error"><strong> ERROR: </strong> {{error}}</p>
    {%endif%}
</main>
{% endblock %}
